body{
    background-color: bisque;
}

.task, .quest{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;

    float: left;
    background-color: aliceblue;
    padding: 10px;
    margin: 5px;
}