body{
    background-color: bisque;
}

.task, .quest{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;

    float: left;
    background-color: aliceblue;
    padding: 10px;
    margin: 5px;
}

#map {
    height: 500px;
}

.form-task > * {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.danger {
    color: #d85030!important;
}

.success {
    color: #659f13!important;
}

.image-remove {
    position: relative;
    left: -35px;
    top: -30px;
    font-size: 25pt;
}