{% extends 'base.html' %}
{% block title %}ADMINKA{% endblock %}
{% block body %}<h5>adminka.html</h5>


    {% if tasks1 or tasks2 or tasks3 %}
        <div class="quest">
            <h2>Квесты <a href="{% url 'create-quest' %}">+</a></h2>
            {% for quest in quests %}
                <p>{{ quest.quest_name }} <a href="{% url 'delete-quest' id=quest.id %}">-</a></p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="task">
        <h2>Задания
                            <a href="{% url 'create-image-task' %}">+ Картинка</a>
            <a href="{% url 'create-choice-task' %}">+ Выбор</a>
            <a href="{% url 'create-checkin-task' %}">+ Check In</a>
        </h2>

        {% for task in tasks1 %}
            <div>
                <p>
                    <a href="{% url 'view-image-task' id=task.id %}">{{ task.task_name }}</a>
                    <a href="{% url 'delete-image-task' id=task.id %}"> - </a>
                </p>
            </div>
        {% endfor %}

    {% for task in tasks2 %}
            <div>
                <p>
                    <a href="{% url 'view-choice-task' id=task.id %}">{{ task.task_name }}</a>
                    <a href="{% url 'delete-choice-task' id=task.id %}"> - </a>
                </p>
            </div>
        {% endfor %}

    {% for task in tasks3 %}
            <div>
                <p>
                    <a href="{% url 'view-checkin-task' id=task.id %}">{{ task.task_name }}</a>
                    <a href="{% url 'delete-checkin-task' id=task.id %}"> - </a>
                </p>
            </div>
        {% endfor %}


    </div>

{% endblock %}