{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}

        </h4>
        <div class="quest">
            <h2>Квесты</h2>
            {% for  quest in quests %}
                {% if completed %}
                {% for  complet in completed %}
                    {% if quest.id == complet.quest.id %}
                        <p>{{ quest.quest_name }} - Выполнен</p>
                    {% endif %}
                {% endfor %}
                {% else %}
                <p><a href="{% url 'quest' id=quest.id %}">{{ quest.quest_name }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}