{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}

        </h4>
        <div class="quest">
            <h2>Квесты</h2>
            {% for  quest in quests %}
                <p><a href="{% url 'quest' id=quest.id %}">{{ quest.quest_name }}</a></p>
            {% endfor %}

                {% if completed %}
                    {% for  quest1 in completed.all %}
                            <p><a href="{% url 'quest' id=quest1.quest.id %}">{{ quest1.quest.quest_name }}</a> - Выполнен</p>
                    {% endfor %}
                {% endif %}
        </div>
    {% endif %}
{% endblock %}