{% extends 'base.html' %}
{% block title %}
    {{ quest.quest_name }}
{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
    <h1>{{ quest.quest_name }}</h1>
    {% if quest.picture %}
        <img src="{{ MEDIA_URL }}{{ quest.picture.url }}" alt="" width="200px">
    {% endif %}
    <h4>Описание: {{ quest.quest_description }}</h4>
    <h2>Задания</h2>

    {% for task in quest.tasks_choice.all %}
        <p><a href="{% url 'view-choice-task' id=task.id q_id=quest.id %}">{{ task }}</a></p>
    {% endfor %}

    {% for task in quest.tasks_checkin.all %}
        <p><a href="{% url 'view-checkin-task' id=task.id q_id=quest.id  %}">{{ task }}</a></p>
    {% endfor %}

    {% for task in quest.tasks_image.all %}
        <p><a href="{% url 'view-image-task' id=task.id q_id=quest.id %}">{{ task }}</a></p>
    {% endfor %}


    <p>Дата начала квеста: <b>{{ quest.start_date }}</b></p>
    <p>Дата окончания квеста: <b>{{ quest.end_date }}</b></p>


{% endblock %}

{% block scripts %}

{% endblock %}